h5 {
  font-size: 1em;
}

dl.compact dt {
  float: left;
}

dl.compact dd {
  margin-left: 2em;
}

dl.bib dt {
  float: left;
  font-weight: bold;
  padding-right: 1em;
}
dl.bib dd {
  margin-left: 3em;
  padding-left: 1em;
}

